h1 {
    color: red;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: aquamarine;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}

h3 {
    color: brown;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}

h4 {
    color: wheat;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}